body {
    width: 100%;
    min-height: 100vh;
    font-family: Avenir;
    background-color: #16161a;
    font-size: 14px;
    color: #94a1b2;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 auto;
    padding: 15px 15px;
}

body::-webkit-scrollbar {
    display: none;
}

.heading {
    font-size: 1.25rem;
    color: #fffffe;
    width: 100%;
    text-align: center;
}