.input-page-container {
    width: 90%;
    height: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    .header {
        font-size: 30px;
        font-weight: 600;
        width: 100%;
        text-align: center;
    }
}